* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.assessmentContainer {
  background-color: #f1f1f1;
  position: absolute;
  width: 100%;
  margin: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 90px 5% 0 22%;
  height: 90%;

  .contentContainer {
    width: 80%;
    height: 90%;
    padding: 25px 25px 20px;

    .evaluate {
      height: 50%;
      grid-template-columns: repeat(2, 1fr);
      display: flex;

      .uploadContainer {
        width: 50%;

        .uploadImage {
          margin-bottom: 25px;
          display: flex;

          .namefile {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 50%;
          }
        }

        .uploadKanji {
          display: flex;
          align-items: center;

          .inputKanji {
            border-bottom: 1px solid #333 !important;
            border: none;
            margin:0px 10px;
            outline: none;
            font-size: 20px;
            padding-left: 10px;
            width: 20%;
          }
        }

        .percent {
          margin-top: 20px;
        }
      }

      img {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .detect {
      height: 50%;

      .titleDetect{
        margin-bottom: 5px;
      }

      .kanji{
        min-width: 10%;
      }
    }
  }
}
