* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.lessonContainer {
  background-color: #f1f1f1;
  position: relative;
  width: 100%;
  margin: auto;
  padding-top: 90px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 90px 5% 0 22%;

  .contentContainer {
    width: 100%;
    background-color: #f1f1f1;
    height: 90%;

    .title {
      display: flex;
      margin-bottom: 30px;

      .titleContainer {
        display: flex;

        .titleContent {
          display: flex;
          justify-content: center;
          background-color: white;

          .titleButton {
            border-radius: 0;
            background-color: white;
          }
        }
      }
    }

    .detail {
      .canvas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .vocab {
          font-size: 225px;
        }

        .mean {
          width: 100%;
          padding: 0 15px;
        }
      }
    }
  }
}
