* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.lessonContainer {
  background-color: #f1f1f1;
  position: relative;
  width: 100%;
  margin: auto;
  padding-top: 90px;
  height: 100vh;
  display: flex;
  justify-content: center;

  .content {
    padding: 25px 0px;
    width: 80%;
    background-color: #f1f1f1;

    .title {
      display: flex;
      margin-bottom: 30px;

      .titleContent {
        display: flex;
        justify-content: center;
        background-color: white;

        .titleButton {
          border-radius: 0;
          background-color: white;
        }
      }
    }
  }
}
